[submodule "home/.powerline-zsh"]
	path = home/.powerline-zsh
	url = https://github.com/toroidal-code/powerline-zsh.git
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.zprezto"]
	path = home/.zprezto
	url = git://github.com/sorin-ionescu/prezto.git
[submodule "home/.tmux-powerline"]
	path = home/.tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "home/.emacs.d/themes/monokai"]
	path = home/.emacs.d/themes/monokai
	url = https://github.com/lvillani/el-monokai-theme.git
[submodule "home/.emacs.d/themes/zenburn"]
	path = home/.emacs.d/themes/zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "home/.emacs.d/themes/solarized"]
	path = home/.emacs.d/themes/solarized
	url = https://github.com/bbatsov/solarized-emacs.git
